@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}
.section-header {
    font-size: 32px;
}

.header-subtxt {
    font-weight: 400;
    font-size: 14px;
    margin-left: 15px;
}
.toppings li {
    list-style-type: none;
}
.toppings input{
    display: inline-block;
    width: 50px;
    margin: 5px 0;
}