@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Acme", sans-serif;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

button {
  background: chocolate;
  padding: 15px 30px;
  font-family: inherit;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 11px;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.material-icons {
  font-size: 30px;
  cursor: pointer;
}
button:hover,
button:active {
  opacity: 0.8;
}

header {
  padding: 20px 0;
  background: rgb(254, 164, 100);
  border-bottom: 1px solid #f1f1f1;
  position: sticky;
  top: 0;
}

header h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: #fff;
}

main {
  background-image: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url("photo/money.webp");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.modal {
  max-width: 600px;
  min-width: 300px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 3rem 3rem (0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  padding: 0.3rem;
  color: #fff;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.visible {
  display: flex;
}
.container-heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-size: 20px;
  padding: 30px 0;
}

.score-header {
  text-transform: capitalize;
}

#score {
  background: #fff;
  color: #333;
  border-radius: 11px;
  padding: 10px 25px;
  margin-left: 20px;
  font-size: 25px;
}

.lives {
  font-size: 25px;
  margin: 20px;
}

.high-score-header {
  font-size: 20px;
}

#high-score {
  background: #fff;
  color: #333;
  border-radius: 11px;
  padding: 10px 25px;
  margin-left: 20px;
}

.coins {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.coin {
  width: 120px;
  height: 120px;
  margin: 15px;
  margin-bottom: 40px;
  background-image: url(photo/bitcoin.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(1);
  transition: 0.2s ease;
  cursor: pointer;
}

.coin.active {
  box-shadow: 0 0 50px gold;
  filter: grayscale(0);
}

.coin:hover,
.coin:active {
  opacity: 0.8;
}

.display {
  display: none;
}
